body {
  font-family: "Sawarabi Gothic";
}
.wrap {
  max-width: 1000px;
  margin: 0 auto;
}

.caption {
  text-align: center;
  margin-bottom: 20px;
  opacity: .54;
  span {
    font-size: 40px;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  color: #212121;
}
th, td {
  text-align: center;
  width: 14.2857143%;
  box-sizing: border-box;
}
th {
  padding: 10px;
  font-weight: normal;
  color: #757575;
}
td {
  border: 1px solid #ccc;
  a {
    display: block;
    padding: 10px;
    height: 70px;
    color: #212121;
    text-decoration: none;
    position: relative;
    .int {
      position: absolute;
      top: 5px;
      left: 5px;
      font-size: 14px;
    }
    .result {
      padding-top: 25px;
    }
  }
}
.sun {
  color: #ff2043;
}
.sat {
  color: #627aff;
}
.today {
  background: #eee;
}
