// common ////////////////////////
body {
  color: #767676;
  font-family: "Sawarabi Gothic";
}
@media (max-width: 640px) {
  body {
    font-size: 14px;
  }
}
.wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}
a {
  text-decoration: none;
  color: #767676;
}

// calendar ////////////////////////
.calendar-image {
  background-position: 50% 50%;
  background-size: 60px;
  background-repeat: no-repeat;
  &.bad {
    background-size: 50px;
    background-image: url("/images/bad.jpg");
  }
  &.limited {
    background-image: url("/images/limited.jpg");
  }
  &.good {
    background-image: url("/images/good.jpg");
  }
}
@media (max-width: 640px) {
  .calendar-image {
    background-position: 50% 60%;
    background-size: 30px;
    &.bad {
      background-size: 20px;
    }
  }
}

// day ////////////////////////
.result-image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-position: 50% 50%;
  background-size: 150px;
  background-repeat: no-repeat;
  position: relative;
  &.bad {
    background-image: url("/images/bad.jpg");
  }
  &.limited {
    background-image: url("/images/limited.jpg");
  }
  &.good {
    background-image: url("/images/good.jpg");
  }
}
